@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #c7d0dd;
  border-radius: 1px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #acb3c0 transparent;
}